
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body{
    margin-top: 100px;
    background-color:rgb(247, 244, 244)
    
}
ul{
    padding: 0;
    margin-bottom: 0;
    background: #fff;
    box-shadow:
      /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
      /* The second layer */
      0 10px 0 -5px #eee,
      /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
       /* The third layer */
      0 20px 0 -10px #eee,
      /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
      /* Padding for demo purposes */
      padding: 30px;
}


ul li{
    border: 1px solid rgb(255, 255, 255);
    list-style: none;
    padding: 5px;

};


input{
    border: none; width: 100%;
}

h1{
    text-align: center;
    color: rgb(229, 161, 161);
    font-family:Verdana, Geneva, Tahoma, sans-serif
};